html, body /*  adicionado pra acabar com um scroll chato desnecessario na horizontal que tava aparencendo */ {
    overflow-x: hidden;
    width: 100%;
}

  
header{
    background-color: #FFCFAD;
}
#painelHome{
    background-color: #FFFBD4;
}
footer{
    background-color: #FFCFAD;
    margin-top: auto;
}